@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');


.parent-div{
    position: relative;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    max-width:100%;
    text-align:center;
    background:#f5f5f5;
}



.generate-btn{
    margin:100px;
}





