<!-- <h3>{{errorMsg}}</h3> -->

<div class="child-div">
    
    <div class="load-bar" *ngIf="loading && comics">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
  
    <ng-container *ngIf="comics || !loading && !loadError; else spinner">
        <div>
            <h2 class="text-left heading">{{comics.num}}. {{comics.title}}</h2>
            <img src="{{comics.img}}" class="comic-image img-responsive">
        </div>
    </ng-container>

    <ng-template #spinner>
        <div class="loader" *ngIf = "!loadError else errorTemplate"></div>
    </ng-template>

    <ng-template #errorTemplate>
        <div *ngIf = "loadError" class="error">
            {{errorMsg}}
        </div>
    </ng-template>
        
</div>

<!-- <ng-template #err>
    
</ng-template> -->
