
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');
body{
    font-family: 'Quicksand', sans-serif;
    background:#f2f2f2;
    padding-top: 50px;
}

.navbar-custom{
    background:#fff;
}

.logo{
    width: 40px;
    top: -10px;
    position: relative;
}
nav a.active{
    color:#000;
}

.logo-text{
    width: 150px;
    position: relative;
    top: -46px;
    right: -39px;
    height: 33px;
    margin-right: 50px;
}

.navbar-toggle, .icon-bar {
    border:1px solid #286090;
}

